$grid-columns: 12;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
$grid-gutter-width: 2.5rem;



@import "../node_modules/bootstrap/scss/bootstrap";
